<footer class="footer">
  <div class="container" style="display:flex; justify-content:space-between; align-items:center;">
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. Website theme: 
      <a href="https://github.com/janczizikow/sleek" target="_blank" rel="noopener">Sleek</a>
    </span>
    <div class="footer-logo">
      <img src="{{ '/assets/img/posts/NWO_logo.png' | relative_url }}"
           alt="Footer logo"
           style="max-height:60px; height:auto; width:auto;">
    </div>
  </div>
</footer>

<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function(registration) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
